* {box-sizing: border-box;}
body{
background-color: #c85bff;
}
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .span-col-2 {
    grid-column: span 2 / auto;
  }

  .span-col-3 {
    grid-column: span 3 / auto;
  }

  @media only screen and (min-width: 768px) {

    #title {
      background: #ea2a2a;
      font-size:150px;
      text-align:auto;
      width:1000px;
      height:200px;
    }

    article {
      background: #ff7738;
      width:400px;
      height:400px;
    }

    footer {
      background:#548aff;
      width:400px;


    }

    #header img {
      width:300px;
      height:350px;
      transform: rotate(90deg);
      border:solid #ff66b5 10px;
    }

    .grid {
      width: 80%;
      margin: 0 auto;
    }
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6ad657;
  }

  nav li {
    float: left;
    display: inline;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  nav li a:hover {
    background-color: #111;
  }
#eat{
  background-color:#ffdf44;
}
#two img{
  width: 300px;
  height: 250px;
/*  transform:;*/
border: solid #ff66b5 10px;


}
    }
